service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
service cloud.firestore {
  match /databases/{database}/documents {
    match /bets/{bet} {
      allow read, write: if true;
    }
  }
}
